In [1]:
import pandas as pd
import numpy as np
import datetime
import pickle

In [2]:
df = pd.read_csv('UserBehavior.csv', names=['uid', 'iid', 'cid', 'type', 'timestamp'])

In [3]:
df['date'] = df['timestamp'].apply(datetime.date.fromtimestamp)

In [4]:
# df['datestr'] = df['date'].apply(str)

In [5]:
df

              uid      iid      cid type   timestamp        date
0               1  2268318  2520377   pv  1511544070  2017-11-25
1               1  2333346  2520771   pv  1511561733  2017-11-25
2               1  2576651   149192   pv  1511572885  2017-11-25
3               1  3830808  4181361   pv  1511593493  2017-11-25
4               1  4365585  2520377   pv  1511596146  2017-11-25
...           ...      ...      ...  ...         ...         ...
100150802  999999  4797808    11120   pv  1512293403  2017-12-03
100150803  999999  4613472  4602841   pv  1512293766  2017-12-03
100150804  999999  3647364  2304296   pv  1512293792  2017-12-03
100150805  999999  1903801  2304296   pv  1512293827  2017-12-03
100150806  999999  3696094  4602841   pv  1512293891  2017-12-03

[100150807 rows x 6 columns]

In [6]:
df.nunique()

uid           987994
iid          4162024
cid             9439
type               4
timestamp     815859
date             347
dtype: int64

In [7]:
np.sort(df['date'].unique())

array([datetime.date(1902, 5, 8), datetime.date(1905, 7, 13),
       datetime.date(1910, 7, 22), datetime.date(1911, 3, 24),
       datetime.date(1918, 4, 15), datetime.date(1918, 8, 1),
       datetime.date(1918, 8, 3), datetime.date(1918, 8, 4),
       datetime.date(1919, 9, 19), datetime.date(1920, 10, 10),
       datetime.date(1920, 10, 11), datetime.date(1920, 10, 12),
       datetime.date(1921, 9, 16), datetime.date(1922, 2, 5),
       datetime.date(1922, 2, 6), datetime.date(1922, 2, 7),
       datetime.date(1929, 9, 13), datetime.date(1929, 9, 14),
       datetime.date(1929, 9, 15), datetime.date(1929, 9, 17),
       datetime.date(1929, 9, 18), datetime.date(1929, 9, 19),
       datetime.date(1929, 9, 21), datetime.date(1929, 9, 22),
       datetime.date(1929, 9, 23), datetime.date(1929, 9, 24),
       datetime.date(1929, 9, 25), datetime.date(1929, 9, 26),
       datetime.date(1929, 9, 27), datetime.date(1929, 9, 28),
       datetime.date(1929, 9, 29), datetime.date(1970, 1, 1),
       datetime.date(1970, 1, 2), datetime.date(1970, 1, 3),
       datetime.date(1970, 1, 4), datetime.date(1970, 1, 13),
       datetime.date(1970, 1, 22), datetime.date(1970, 1, 24),
       datetime.date(1970, 1, 27), datetime.date(1970, 1, 28),
       datetime.date(1970, 1, 31), datetime.date(1971, 11, 13),
       datetime.date(1974, 10, 8), datetime.date(1974, 10, 9),
       datetime.date(1975, 1, 9), datetime.date(1976, 4, 28),
       datetime.date(1979, 3, 16), datetime.date(1990, 9, 2),
       datetime.date(1991, 8, 17), datetime.date(1993, 2, 11),
       datetime.date(1999, 7, 2), datetime.date(2000, 1, 1),
       datetime.date(2000, 12, 19), datetime.date(2001, 2, 27),
       datetime.date(2004, 10, 7), datetime.date(2006, 2, 18),
       datetime.date(2006, 10, 27), datetime.date(2008, 3, 23),
       datetime.date(2009, 11, 26), datetime.date(2010, 1, 1),
       datetime.date(2010, 1, 2), datetime.date(2010, 1, 3),
       datetime.date(2010, 1, 4), datetime.date(2010, 1, 7),
       datetime.date(2012, 11, 30), datetime.date(2012, 12, 2),
       datetime.date(2012, 12, 3), datetime.date(2013, 6, 6),
       datetime.date(2013, 6, 7), datetime.date(2013, 6, 8),
       datetime.date(2013, 11, 20), datetime.date(2014, 1, 1),
       datetime.date(2014, 1, 2), datetime.date(2014, 3, 8),
       datetime.date(2015, 1, 1), datetime.date(2015, 1, 5),
       datetime.date(2015, 2, 6), datetime.date(2015, 2, 15),
       datetime.date(2015, 3, 9), datetime.date(2015, 10, 29),
       datetime.date(2015, 11, 29), datetime.date(2015, 12, 3),
       datetime.date(2016, 1, 1), datetime.date(2016, 1, 5),
       datetime.date(2016, 1, 6), datetime.date(2016, 1, 18),
       datetime.date(2016, 5, 1), datetime.date(2016, 6, 17),
       datetime.date(2016, 7, 30), datetime.date(2016, 10, 4),
       datetime.date(2016, 10, 5), datetime.date(2016, 10, 9),
       datetime.date(2016, 10, 10), datetime.date(2016, 10, 20),
       datetime.date(2016, 10, 22), datetime.date(2016, 10, 29),
       datetime.date(2016, 11, 24), datetime.date(2016, 11, 28),
       datetime.date(2016, 11, 29), datetime.date(2016, 12, 3),
       datetime.date(2017, 3, 21), datetime.date(2017, 4, 2),
       datetime.date(2017, 4, 5), datetime.date(2017, 4, 11),
       datetime.date(2017, 4, 12), datetime.date(2017, 4, 13),
       datetime.date(2017, 4, 16), datetime.date(2017, 5, 12),
       datetime.date(2017, 5, 15), datetime.date(2017, 5, 25),
       datetime.date(2017, 6, 1), datetime.date(2017, 6, 2),
       datetime.date(2017, 6, 15), datetime.date(2017, 6, 19),
       datetime.date(2017, 6, 21), datetime.date(2017, 7, 3),
       datetime.date(2017, 7, 20), datetime.date(2017, 7, 23),
       datetime.date(2017, 7, 25), datetime.date(2017, 8, 1),
       datetime.date(2017, 8, 2), datetime.date(2017, 8, 3),
       datetime.date(2017, 8, 6), datetime.date(2017, 8, 7),
       datetime.date(2017, 8, 8), datetime.date(2017, 8, 16),
       datetime.date(2017, 8, 20), datetime.date(2017, 8, 21),
       datetime.date(2017, 8, 23), datetime.date(2017, 8, 24),
       datetime.date(2017, 8, 25), datetime.date(2017, 8, 26),
       datetime.date(2017, 8, 27), datetime.date(2017, 8, 28),
       datetime.date(2017, 8, 29), datetime.date(2017, 8, 31),
       datetime.date(2017, 9, 1), datetime.date(2017, 9, 2),
       datetime.date(2017, 9, 3), datetime.date(2017, 9, 4),
       datetime.date(2017, 9, 7), datetime.date(2017, 9, 9),
       datetime.date(2017, 9, 10), datetime.date(2017, 9, 11),
       datetime.date(2017, 9, 12), datetime.date(2017, 9, 15),
       datetime.date(2017, 9, 16), datetime.date(2017, 9, 17),
       datetime.date(2017, 9, 18), datetime.date(2017, 9, 20),
       datetime.date(2017, 9, 21), datetime.date(2017, 9, 22),
       datetime.date(2017, 9, 23), datetime.date(2017, 9, 26),
       datetime.date(2017, 9, 27), datetime.date(2017, 9, 30),
       datetime.date(2017, 10, 1), datetime.date(2017, 10, 2),
       datetime.date(2017, 10, 3), datetime.date(2017, 10, 5),
       datetime.date(2017, 10, 6), datetime.date(2017, 10, 7),
       datetime.date(2017, 10, 8), datetime.date(2017, 10, 9),
       datetime.date(2017, 10, 10), datetime.date(2017, 10, 11),
       datetime.date(2017, 10, 12), datetime.date(2017, 10, 13),
       datetime.date(2017, 10, 14), datetime.date(2017, 10, 15),
       datetime.date(2017, 10, 16), datetime.date(2017, 10, 18),
       datetime.date(2017, 10, 19), datetime.date(2017, 10, 20),
       datetime.date(2017, 10, 21), datetime.date(2017, 10, 22),
       datetime.date(2017, 10, 23), datetime.date(2017, 10, 24),
       datetime.date(2017, 10, 25), datetime.date(2017, 10, 26),
       datetime.date(2017, 10, 27), datetime.date(2017, 10, 28),
       datetime.date(2017, 10, 29), datetime.date(2017, 10, 30),
       datetime.date(2017, 10, 31), datetime.date(2017, 11, 1),
       datetime.date(2017, 11, 2), datetime.date(2017, 11, 3),
       datetime.date(2017, 11, 4), datetime.date(2017, 11, 5),
       datetime.date(2017, 11, 6), datetime.date(2017, 11, 7),
       datetime.date(2017, 11, 8), datetime.date(2017, 11, 9),
       datetime.date(2017, 11, 10), datetime.date(2017, 11, 11),
       datetime.date(2017, 11, 12), datetime.date(2017, 11, 13),
       datetime.date(2017, 11, 14), datetime.date(2017, 11, 15),
       datetime.date(2017, 11, 16), datetime.date(2017, 11, 17),
       datetime.date(2017, 11, 18), datetime.date(2017, 11, 19),
       datetime.date(2017, 11, 20), datetime.date(2017, 11, 21),
       datetime.date(2017, 11, 22), datetime.date(2017, 11, 23),
       datetime.date(2017, 11, 24), datetime.date(2017, 11, 25),
       datetime.date(2017, 11, 26), datetime.date(2017, 11, 27),
       datetime.date(2017, 11, 28), datetime.date(2017, 11, 29),
       datetime.date(2017, 11, 30), datetime.date(2017, 12, 1),
       datetime.date(2017, 12, 2), datetime.date(2017, 12, 3),
       datetime.date(2017, 12, 4), datetime.date(2017, 12, 5),
       datetime.date(2017, 12, 6), datetime.date(2017, 12, 7),
       datetime.date(2017, 12, 8), datetime.date(2017, 12, 9),
       datetime.date(2017, 12, 10), datetime.date(2017, 12, 11),
       datetime.date(2017, 12, 12), datetime.date(2017, 12, 13),
       datetime.date(2017, 12, 14), datetime.date(2017, 12, 15),
       datetime.date(2017, 12, 16), datetime.date(2017, 12, 19),
       datetime.date(2017, 12, 21), datetime.date(2017, 12, 24),
       datetime.date(2017, 12, 26), datetime.date(2017, 12, 27),
       datetime.date(2017, 12, 30), datetime.date(2017, 12, 31),
       datetime.date(2018, 1, 1), datetime.date(2018, 1, 2),
       datetime.date(2018, 1, 3), datetime.date(2018, 1, 5),
       datetime.date(2018, 1, 6), datetime.date(2018, 1, 18),
       datetime.date(2018, 1, 31), datetime.date(2018, 2, 3),
       datetime.date(2018, 2, 9), datetime.date(2018, 2, 10),
       datetime.date(2018, 2, 25), datetime.date(2018, 3, 6),
       datetime.date(2018, 3, 7), datetime.date(2018, 3, 11),
       datetime.date(2018, 3, 17), datetime.date(2018, 3, 21),
       datetime.date(2018, 4, 27), datetime.date(2018, 5, 20),
       datetime.date(2018, 5, 23), datetime.date(2018, 6, 20),
       datetime.date(2018, 8, 28), datetime.date(2018, 9, 1),
       datetime.date(2018, 9, 2), datetime.date(2018, 9, 6),
       datetime.date(2018, 10, 20), datetime.date(2018, 11, 26),
       datetime.date(2018, 11, 29), datetime.date(2018, 12, 1),
       datetime.date(2018, 12, 2), datetime.date(2018, 12, 3),
       datetime.date(2019, 2, 18), datetime.date(2019, 2, 19),
       datetime.date(2019, 2, 20), datetime.date(2019, 2, 21),
       datetime.date(2019, 2, 24), datetime.date(2019, 2, 25),
       datetime.date(2019, 2, 26), datetime.date(2019, 10, 20),
       datetime.date(2019, 10, 21), datetime.date(2019, 10, 22),
       datetime.date(2019, 10, 23), datetime.date(2019, 10, 27),
       datetime.date(2019, 11, 1), datetime.date(2019, 11, 2),
       datetime.date(2019, 11, 3), datetime.date(2019, 11, 4),
       datetime.date(2020, 5, 10), datetime.date(2020, 10, 18),
       datetime.date(2020, 10, 19), datetime.date(2020, 10, 20),
       datetime.date(2020, 10, 27), datetime.date(2020, 10, 28),
       datetime.date(2020, 11, 1), datetime.date(2020, 11, 2),
       datetime.date(2020, 11, 4), datetime.date(2021, 1, 3),
       datetime.date(2021, 1, 4), datetime.date(2021, 4, 30),
       datetime.date(2021, 5, 6), datetime.date(2021, 10, 8),
       datetime.date(2021, 10, 9), datetime.date(2021, 10, 18),
       datetime.date(2021, 10, 19), datetime.date(2021, 10, 20),
       datetime.date(2021, 10, 21), datetime.date(2021, 10, 22),
       datetime.date(2021, 10, 27), datetime.date(2021, 10, 28),
       datetime.date(2021, 11, 2), datetime.date(2021, 11, 3),
       datetime.date(2022, 8, 5), datetime.date(2022, 10, 24),
       datetime.date(2022, 10, 26), datetime.date(2022, 10, 28),
       datetime.date(2022, 11, 3), datetime.date(2023, 10, 26),
       datetime.date(2023, 11, 4), datetime.date(2024, 11, 3),
       datetime.date(2025, 10, 11), datetime.date(2025, 10, 13),
       datetime.date(2025, 10, 15), datetime.date(2025, 10, 16),
       datetime.date(2025, 10, 17), datetime.date(2025, 10, 18),
       datetime.date(2025, 10, 19), datetime.date(2025, 10, 20),
       datetime.date(2025, 10, 21), datetime.date(2025, 10, 22),
       datetime.date(2025, 10, 23), datetime.date(2025, 10, 24),
       datetime.date(2025, 10, 25), datetime.date(2025, 10, 26),
       datetime.date(2025, 10, 27), datetime.date(2025, 10, 28),
       datetime.date(2025, 10, 29), datetime.date(2025, 11, 1),
       datetime.date(2025, 11, 2), datetime.date(2025, 11, 3),
       datetime.date(2025, 11, 4), datetime.date(2026, 10, 15),
       datetime.date(2026, 10, 21), datetime.date(2026, 10, 25),
       datetime.date(2028, 10, 24), datetime.date(2030, 1, 16),
       datetime.date(2033, 3, 19), datetime.date(2036, 10, 21),
       datetime.date(2036, 10, 22), datetime.date(2036, 10, 23),
       datetime.date(2037, 4, 9)], dtype=object)

In [8]:
df_clear = df[(df['date']>=datetime.date(2017, 11, 25)) & (df['date']<=datetime.date(2017, 12, 3))]
df_clear

              uid      iid      cid type   timestamp        date
0               1  2268318  2520377   pv  1511544070  2017-11-25
1               1  2333346  2520771   pv  1511561733  2017-11-25
2               1  2576651   149192   pv  1511572885  2017-11-25
3               1  3830808  4181361   pv  1511593493  2017-11-25
4               1  4365585  2520377   pv  1511596146  2017-11-25
...           ...      ...      ...  ...         ...         ...
100150802  999999  4797808    11120   pv  1512293403  2017-12-03
100150803  999999  4613472  4602841   pv  1512293766  2017-12-03
100150804  999999  3647364  2304296   pv  1512293792  2017-12-03
100150805  999999  1903801  2304296   pv  1512293827  2017-12-03
100150806  999999  3696094  4602841   pv  1512293891  2017-12-03

[100095231 rows x 6 columns]

In [9]:
df_clear['date'].unique()

array([datetime.date(2017, 11, 25), datetime.date(2017, 11, 26),
       datetime.date(2017, 11, 27), datetime.date(2017, 11, 28),
       datetime.date(2017, 11, 29), datetime.date(2017, 11, 30),
       datetime.date(2017, 12, 1), datetime.date(2017, 12, 2),
       datetime.date(2017, 12, 3)], dtype=object)

In [10]:
df_clear.to_csv('UB_clear.csv', index=False)